<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>779490667821-0dbsdrbl6v1bugfpqa8r47gk9s9h3raj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.779490667821-0dbsdrbl6v1bugfpqa8r47gk9s9h3raj</string>
	<key>API_KEY</key>
	<string>AIzaSyBjGndJhCS5jJUnjtlA_LJWIP4Th5hQIk4</string>
	<key>GCM_SENDER_ID</key>
	<string>779490667821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.buildupApplication.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>buildup-app-a72a0</string>
	<key>STORAGE_BUCKET</key>
	<string>buildup-app-a72a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779490667821:ios:f3b5497c0e7fc728eaf7a4</string>
</dict>
</plist>